@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    width: 20vw;
    max-width: 80px;
    height: 20vw;
    max-height: 80px;
    margin-left: -40px;
    position: absolute;
    top: 15vh;
    left: 50%;
    z-index: 2;
    animation: spin 1.8s linear infinite;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--color-primary);
    border-bottom-color: var(--color-primary);
}

.loader::before {
    position: absolute;
    top: 2%;
    right: 2%;
    bottom: 2%;
    left: 2%;
    z-index: 2;
    content: '';
    animation: spin 2.4s linear infinite;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--color-secondary);
}

.loader::after {
    position: absolute;
    top: 5%;
    right: 5%;
    bottom: 5%;
    left: 5%;
    z-index: 2;
    content: '';
    animation: spin 1.2s linear infinite;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--color-gray);
}
