.section {
    padding: calc(4 * var(--gap)) calc(2 * var(--gap)) calc(2 * var(--gap));
    display: none;
    grid-area: clients;

    @media (--min-md) {
        display: block;
    }
}

.heading {
    padding: var(--gap) 0;
    opacity: 0.5;
    text-align: center;
}

.list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.item {
    min-width: 180px;
    max-width: 10%;
    max-height: 80px;
    padding: var(--gap) 0;
    opacity: 0.25;
    cursor: crosshair;
    transition: opacity var(--transition-in) var(--transition-timing);

    &:focus,
    &:hover {
        opacity: 0.5;
    }
}

.image {
    max-width: 100%;
    max-height: 40px;
    filter: grayscale(100%);
}
