.decoration1,
.decoration2,
.decoration3,
.decoration4,
.decoration5,
.decoration6,
.decoration7,
.decoration8 {
    --clientX: 0;
    --clientY: 0;
    --friction: 1;
    width: 48px;
    height: 48px;
    display: block;
    position: absolute;
    z-index: -1;
    opacity: 0.25;
    transform: translate3d(calc(var(--clientX) * var(--friction)), calc(var(--clientY) * var(--friction)), 0);
    transform-origin: center;
}

.decoration1 {
    --friction: 0.3;
    top: 20%;
    left: 12%;
}

.decoration2 {
    --friction: 0.7;
    top: 0;
    left: 73%;
}

.decoration3 {
    top: 12%;
    left: 45%;
}

.decoration4 {
    top: 63%;
    left: 75%;
}

.decoration5 {
    --friction: 1.2;
    top: 42%;
    left: 24%;
}

.decoration6 {
    --friction: 0.4;
    top: 79%;
    left: 41%;
}

.decoration7 {
    --friction: 0.2;
    top: 53%;
    left: 8%;
}

.decoration8 {
    --friction: 1.4;
    top: 23%;
    left: 74%;
}
