@import '../../styles/utilities/media.css';
@import '../../styles/utilities/typography.css';
@import '../../styles/utilities/helpers.css';

.default {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: var(--color-white);
    box-shadow: 0 0 40px rgba(0, 0, 0, .25);
    border-radius: var(--border-radius);

    @media (--min-xs) {
        width: 90vw;
    }

    @media (--min-sm) {
        max-width: 480px;
    }

    @media (--min-md) {
        max-width: 640px;
    }

    @media (--min-lg) {
        max-width: 800px;
    }

    @media (--min-xl) {
        max-width: 1024px;
    }
}

.sidebar,
.content {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 30%;
}

.content {
    width: 70%;
}
