.default {
    flex: 1 1 auto;
    background-color: var(--color-gray);
    border-bottom-left-radius: var(--border-radius);

    &:hover,
    &:focus {

        .link {
            opacity: .7;
            color: rgba(255, 255, 255, .2);

            &::before {
                opacity: .2;
            }
        }
    }

    .link {

        &:focus,
        &:hover,
        &.active {
            opacity: 1;
            background-color: var(--color-primary);
            color: var(--color-white);

            &::before {
                opacity: 1;
            }

            @media (--min-lg) {
                padding-right: 64px;
                text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
                border-bottom-color: var(--color-primary);
            }
        }
    }
}

.list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (--min-lg) {
        flex-direction: column;
    }
}

.active {
    background-color: var(--color-primary);
}

.item {

    &:last-child {

        .link {

            @media (--min-lg) {
                border-bottom-left-radius: var(--border-radius);
            }
        }
    }
}

.link {
    width: 100%;
    height: var(--height, 40px);
    padding-right: var(--padding, 30px);
    display: block;
    position: relative;
    background-color: var(--color-gray);
    color: var(--color-white);
    font-size: .8em;
    line-height: 60px;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    transition: all var(--transition-out) var(--transition-timing);
    border-bottom: 1px solid #283336;

    &::before {
        width: var(--width, 16px);
        height: var(--height, 16px);
        display: block;
        position: absolute;
        top: 50%;
        right: 50%;
        content: '';
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: translate(50%, -50%);
        transition: all var(--transition-out) var(--transition-timing);

        @media (--min-sm) {
            --width: 20px;
            --height: 20px;
        }

        @media (--min-md) {
            --width: 24px;
            --height: 24px;
        }

        @media (--min-lg) {
            right: 16px;
            transform: translate(0, -50%);
        }
    }

    @media (--min-sm) {
        --height: 50px;
        --padding: 50px;
    }

    @media (--min-md) {
        --height: 60px;
        --padding: 60px;
    }

    @media (--min-xl) {
        font-size: .9em;
    }
}

.title {
    display: none;

    @media (--min-lg) {
        display: block;
    }
}

.about {

    &::before {
        background-image: url('../../assets/images/icon_about.png');
    }
}

.body {

    &::before {
        background-image: url('../../assets/images/icon_body.png');
    }
}

.calendar {

    &::before {
        background-image: url('../../assets/images/icon_calendar.png');
    }
}

.calories {

    &::before {
        background-image: url('../../assets/images/icon_calories.png');
    }
}

.contact {

    &::before {
        background-image: url('../../assets/images/icon_contact.png');
    }
}

.diploma {

    &::before {
        background-image: url('../../assets/images/icon_diploma.png');
    }
}

.gallery {

    &::before {
        background-image: url('../../assets/images/icon_gallery.png');
    }
}

.individual {

    &::before {
        background-image: url('../../assets/images/icon_individual.png');
    }
}

.internet {

    &::before {
        background-image: url('../../assets/images/icon_internet.png');
    }
}

.pricelist {

    &::before {
        background-image: url('../../assets/images/icon_pricelist.png');
    }
}
