.header {
    display: grid;
    grid-template-columns: minmax(20vw, 25vw) auto;
    grid-area: header;
}

.logo {
    padding: var(--gutter);
    border-right: 1px solid var(--color-white-darken-1);
}
