@import '../../styles/utilities/media.css';

.default {
    min-height: var(--height, 100px);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (--min-sm) {
        --height: 140px;
    }

    @media (--min-md) {
        --height: 180px;
    }

    @media (--min-lg) {
        --height: 220px;
    }

    @media (--min-xl) {
        --height: 260px;
    }
}

.link {
    display: flex;
    align-self: center;
    line-height: 0;
}

.disabled {
    pointer-events: none;
}

.picture {
    text-align: center;
}

.logo {
    max-width: 90%;

    @media (--max-sm) {
        max-height: 80px;
    }
}
