.header {
    display: grid;
    grid-template-columns: 20vw auto;
    grid-area: header;
}

.logo {
    padding: var(--gap) calc(3 * var(--gap));
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: var(--color-blue-lighten-1);
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid var(--color-white-darken-1);
}
