.default {
    min-height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    align-self: center;
    line-height: 0;
}

.linkDisabled {
    pointer-events: none;
}
