.gallery {

    .list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        list-style-type: none;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.heading {
    color: var(--color-font);
    text-decoration: none;
}

.link {
    color: var(--color-font);
    text-decoration: none;
    transition: border var(--transition-in) var(--transition-timing);
    border-bottom: 1px solid;

    &:focus,
    &:hover {
        transition: border var(--transition-out) var(--transition-timing);
        border-bottom-color: transparent;
    }
}

.item {
    flex-basis: calc(50% - var(--gutter));
    margin-bottom: calc(2 * var(--gutter));
    padding-bottom: calc(50% / 1.499);
    display: flex;
    position: relative;
    line-height: 0;

    &:focus,
    &:hover {

        .image {
            opacity: .6;
            transform: scale3d(1.1, 1.1, 1);
        }
    }
}

.button {
    width: 100%;
    height: 0;
    padding-bottom: calc(100% / 1.499);
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--zindex-figure);
    overflow: hidden;
    cursor: pointer;
    background-color: var(--color-primary);
    border-radius: 4px;
}

.picture {
    display: block;
    overflow: hidden;
    background-color: var(--color-primary);
}

.image {
    max-width: 100%;
    opacity: .8;
    transition: transform var(--transition-out) var(--transition-timing), opacity var(--transition-out) var(--transition-timing);
    border-radius: 4px;
}

.modalPicture,
.modalImage {
    width: 75vw;
    max-width: 1024px;
    border-radius: var(--border-radius);
}
