.footer {
    display: grid;
    grid-template-columns: 20vw auto;
    grid-area: footer;
    position: relative;
    color: var(--color-black);
    font-size: 0.8rem;
}

.rights,
.contact {
    display: flex;
    align-items: center;
}

.rights {
    padding: var(--gap) calc(3 * var(--gap));
    border-right: 1px solid var(--color-white-darken-1);

    svg {
        margin-right: calc(0.5 * var(--gap));
    }
}

.contact {
    padding: var(--gap) calc(2 * var(--gap));
    justify-content: center;
}

.link {
    margin: 0 var(--gap);
    display: inline-flex;

    .social {
        display: block;
        border-bottom: none;

        &:focus,
        &:hover {
            transform: scale(1.25);
        }
    }

    svg {
        margin-right: calc(0.5 * var(--gap));
    }
}
