.default {
    min-height: 60px;
    max-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-black);
    font-size: 12px;
    line-height: 1.4;
}

.link a {
    color: var(--color-black);
}

.link,
.rights {
    margin: 0 var(--gutter);
}

.social {
    width: 32px;
    height: 32px;
    margin-right: var(--gutter);
    margin-left: auto;
    overflow: hidden;
    background: var(--image-social) no-repeat 0 0;
    text-indent: 100%;
    transition: background-position var(--transition-out) var(--transition-timing);

    &:focus,
    &:hover {
        background-position: 0 -32px;
    }
}
