.footer {
    display: grid;
    grid-template-columns: minmax(20vw, 25vw) auto;
    grid-area: footer;
    color: var(--color-black);
    font-size: 0.8rem;
}

.rights,
.contact {
    display: flex;
    align-items: center;
}

.rights {
    padding: var(--gap) calc(2 * var(--gap));
    border-right: 1px solid var(--color-white-darken-1);

    svg {
        margin-right: calc(0.5 * var(--gap));
    }
}

.contact {
    padding: var(--gap) calc(2 * var(--gap));
    justify-content: center;
}

.link {
    margin: 0 var(--gap);
    display: inline-flex;

    .social {
        display: block;
        border-bottom: none;
    }

    svg {
        margin-right: calc(0.5 * var(--gap));
    }
}
