@import './styles/base/reset.css';
@import './styles/base/normalize.css';

html {
    height: 100%;
}

body {
    width: 100%;
    background: var(--color-black) var(--image-background) repeat center;
    color: var(--color-white);
    font-family: 'Roboto', Tahoma, Nimbus Sans L, Free Sans, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
}

strong {
    font-weight: 900;
}

:global main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
