.nav {
    padding: var(--gap);
    display: grid;
    grid-area: nav;
    border-right: 1px solid var(--color-white-darken-1);
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    border-radius: var(--border-radius);

    &:focus:not(.itemActive),
    &:hover:not(.itemActive) {
        background-color: var(--color-white-darken-1);
        color: var(--color-black-darken-3);

        &::before {
            opacity: 1;
            transition-duration: var(--transition-in);
        }

        &,
        svg,
        .link {
            transition-duration: var(--transition-in);
        }

        svg {
            color: var(--color-blue-darken-1);
        }
    }

    &::before {
        width: 1px;
        height: 100%;
        position: absolute;
        top: 0;
        right: calc((-1 * var(--gap)) - 1px);
        content: '';
        opacity: 0;
        background-color: var(--color-blue-lighten-2);
        transition: opacity var(--transition-out) var(--transition-timing);
    }

    & + .item {
        margin-top: var(--gap);
    }

    svg {
        margin-left: var(--gap);
    }

    &,
    svg,
    .link {
        transition-property: background-color, color, opacity;
        transition-duration: var(--transition-out);
        transition-timing-function: var(--transition-timing);
    }
}

.itemActive {
    color: var(--color-red);

    &::before {
        opacity: 1;
        background-color: currentColor;
    }
}

.link {
    width: 100%;
    padding: var(--gap);
    color: var(--color-black);
    font-weight: 700;
    text-decoration: none;
    border: none;

    &:focus,
    &:hover {
        color: currentColor;
    }
}

.linkActive {
    color: var(--color-red);
    pointer-events: none;
}

.animation {
    max-width: 240px;
    margin-left: calc(2 * var(--gap));
    display: flex;
    align-items: flex-end;
}
