.item {
    margin-top: var(--gap);

    &:first-of-type {
        margin-top: 0;
    }

    &::marker {
        color: var(--color-red);
    }

    .item {
        padding-left: calc(2 * var(--gap));
    }
}
